<section class="best-selling">
    <div class="containers">
        <div class="best-selling-container">
            <div class="sale-price">
                sale <strong>14%</strong>
            </div>
            <div class="selling-col-1">
                <div class="selling-left">
                <ul>
                    <li>
                        <span class="count-date">194</span>
                        <span class="count-day">Days</span>
                    </li>

                    <li>
                        <span class="count-date">01</span>
                        <span class="count-day">Hours</span>
                    </li>
                </ul
                >
            </div>
            </div>
       
        <div class="selling-col-2">
            <div class="selling-img">
                <img src="../assets/p3.png" alt="best selling">
            </div>
        </div>
        <div class="selling-col-3">
            <div class="selling-heading">
                <a href="">Casing </a>hp iphone
                <div class="selling-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <p>Semua barang tersedia dalam stok. Setelah memesan, kami akan mengirimkannya kepada Anda dalam waktu satu hari dan menerimanya dalam waktu tujuh hingga lima belas hari</p>
            <h3>
                <span class="selling-amount">Rp40.000</span>
                <span class="selling-discount">Rp32.000</span>
            </h3>
            <div class="selling-button">
                <a href="" class="cart-btn"><i class="fa fa-shopping-cart">Add to cart</i></a>
                <button type="button" class="main-button">
                    <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-search"></i></a>
                </button>
                
            </div>
        </div>
    </div>
</div>
</section>
