<!-- tampilan list produk -->
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Online Shop  </p>
            <h2><span>Pink</span> Stuff</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <!-- gambar akan berubah ketika di hover -->
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/p1.png"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/gambar2.png"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/p3.png"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <!-- link ke detail produk -->
                        <a href="produk1">Case Hp Barbie</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">Rp30.000</span><span class="price-old">Rp50.000</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/p1.png" alt="Product"></div>
                            <div class="p"><img src="../assets/gambar2.png" alt="Product"></div>
                            <div class="p"><img src="../assets/p3.png" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/gambar2.png" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                         <!-- link ke detail produk -->
                        <a href="produk2">Case Hp Lucu</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">Rp30.000</span><span class="price-old">Rp54.000</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">READY-STOCK</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/p1.png" alt="Product"></div>
                            <div class="p"><img src="../assets/gambar2.png" alt="Product"></div>
                            <div class="p"><img src="../assets/p3.png" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/p3.png" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                         <!-- link ke detail produk -->
                        <a href="produk">Case Hp Iphone</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">Rp32.000</span><span class="price-old">Rp40.000</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" ><img src="../assets/p1.png" alt="Product"></div>
                            <div class="p"><img src="../assets/gambar2.png" alt="Product"></div>
                            <div class="p"><img src="../assets/p3.png" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/p4.png" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                         <!-- link ke detail produk -->
                        <a routerLink="/produk4">Case Hp Spongebob</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">Rp18.000</span><span class="price-old">Rp30.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>