<header>
    <nav
        class="navbar navbar-light navbar-expand-md sticky-top bg-black pt-3"
        style="border-bottom: 1px solid #d9d9d9; padding-bottom: 40px"
    >
        <div class="container-fluid">
            <button
                data-bs-toggle="collapse"
                class="navbar-toggler"
                data-bs-target="#navcol-2"
            >
                <span class="visually-hidden">Toggle navigation</span
                ><span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse position-relative"
                id="navcol-2"
            >
                <div class="d-flex flex-column align-items-center w-100">
                    <div
                        class="text-center text-sm-center d-flex justify-content-center align-items-center w-100"
                    >
                        <ul
                            class="navbar-nav justify-content-center align-items-center flex-wrap flex-grow-1"
                        >
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    href="../index.html"
                                    >Beranda</a
                                >
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link d-flex justify-content-center align-items-center dropdown-toggle"
                                    href="#"
                                    data-bs-toggle="dropdown"
                                    ><span class="me-1"
                                        >Kategori</span
                                    >
                                </a>
                                <ul class="list-unstyled dropdown-menu">
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Tas</a
                                        >
                                    </li>
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Baju</a
                                        >
                                    </li>
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Case HP</a
                                        >
                                    </li>
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Aksesoris</a
                                        >
                                    </li>
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Celana</a
                                        >
                                    </li>
                                    <li class="dropdown-item">
                                        <a
                                            href="#"
                                            style="
                                                color: var(--bs-body-color);
                                            "
                                            >Sepatu</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kontak</a>
                            </li>
                            <li
                                class="nav-item d-flex justify-content-center align-items-center search-bar"
                            >
                                <input
                                    type="search"
                                    class="ps-1"
                                    class="form-control"
                                    placeholder="Search"
                                />
                            </li>
                            <li
                                class="nav-item d-flex justify-content-center align-items-center register"
                            >
                                <a
                                    class="btn m-auto"
                                    role="button"
                                    href=""
                                    ><i class="fa-solid fa-magnifying-glass" style="color:  hsl(331, 90%, 54%);"></i></a
                                >
                            </li>
                            <li
                                class="nav-item d-flex justify-content-center align-items-center login"
                            >
                                <a
                                    class="nav-link"
                                    href="../../masuk/index.html"
                                    style="
                                        color: #af9b43;
                                        padding: 4px 10px;
                                    "
                                    >
                                    <i class="fa-solid fa-cart-shopping " style="color: hsl(331, 90%, 54%);"></i>
                                    </a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- <div
                        class="d-flex justify-content-center align-items-center position-absolute bg-white p-3"
                        style="
                            top: 50px;
                            border-bottom: 1px solid #d9d9d9;
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px; -->
                        <!-- "
                    > -->
                        <!-- <div class="title">
                            <h2><span>Pink</span> Stuff</h2>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </nav>

</header>